<aside id="sitebar">
    <!--erweima-->
    <div class="sitebar_list">
        <h4 class="sitebar_title">我的相关网站</h4>
        <p>
            <a href="//shang.qq.com/wpa/qunwpa?idkey=a04fa5399b8523888271d9fefd526eb7d77256b072a9f5dfa80114ff84287ea6" target="_blank">
                <img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="Thinkphp爱好交流群" title="Thinkphp爱好交流群"/>加入Thinkphp爱好交流群
            </a>
        </p>
        <p>
            <a href="{:AUTHOR_SITE_URL}?from={:request()->server('SERVER_NAME')}" target="_blank">作者 — — Wolf Blog</a>
        </p>
    </div>
    <div class="mydiv" id="mydiv">
        <a target="_blank" href="{:AUTHOR_SITE_URL}/go/aliyun/"><img src="/static/ad/300-250.jpg"></a>
    </div>
</aside>