@media only screen and (min-width: 1200px) {
    /*header-web*/
    #header-web {
        width: 100%;
        background: #333;
        margin-bottom: 5px;
    }
    #header-web3 {
        width: 100%;
        background: #fff;
        border-bottom: 1px solid #ececec;
    }
    #header-wp {
        width: 100%;
        background: #fff;
    }
    .header-main {
        width: 1250px;
        height: 60px;
        margin: 0 auto;
        padding: 35px 0px;
    }
    /*header-web-header-main-logo */
    .logo {
        float: left;
        margin-left: 30px;
    }
    .logo h1 {
        float: left;
        margin: 0 0 50px 0;
    }
    .logo h1 img {
        width: 85px;
        height: auto;
        border-radius: 50%;
    }
    .logo h3 {
        height: 60px;
        line-height: 88px;
        float: left;
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 0.5px;
    }
    .logo2 {
        text-align: center;
    }
    .logo2 img{width:185px; height:auto;}
    /*header-web-header-main-header-nav */
    .header-nav {
        height: 40px;
        border-left: 1px solid #ececec;
        float: left;
        margin-left: 45px;
        margin-top: 15px;
    }
    .header-nav .nav-logo {
        display: none;
    }
    .header-nav .nav-logo img {
        border-radius: 50%;
    }
    .header-nav .menu {
    }
    .header-nav .menu li {
        float: left;
        margin-left: 50px;
        position: relative;
    }
    .header-nav .menu li a {
        display: block;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 17px;
        color: black;
        padding: 0 10px;
        color: #FFF;
    }
    .header-nav .menu li a:after {
        content: "";
        position: absolute;
        border-bottom: 3px solid #d6623d;
        bottom: 0;
        left: 100%;
        width: 0;
        transition: width 350ms, left 350ms;
        -webkit-transition: width 350ms, left 350ms;
        -moz-transition: width 350ms, left 350ms
    }
    .header-nav .menu li a:hover {
        background: #4398ed;
        color: #fff;
    }
    .header-nav .menu li a:hover:after {
        left: 0;
        width: 100%;
        transition: width 350ms;
        -moz-transition: width 350ms;
        -webkit-transition: width 350ms
    }
    .header-nav .menu > li:hover {
    }
    .header-nav .menu li:hover > ul {
        display: block;
        background: #fff;
    }
    .header-nav .menu li .sub-menu {
        display: none;
        position: absolute;
        z-index: 99999;
        top: 40px;
        left: -20px;
        background: red;
        border: 1px solid #ececec;
        box-shadow: 2px 3px 10px #919191;
    }
    .header-nav .menu li .sub-menu li {
        margin-left: 0px;
        border-bottom: 3px solid #fff;
        transition: border 0.2s;
    }/*继成，但是可以改变*/
    .header-nav .menu li .sub-menu li a {
        width: 110px;
        font-size: 15px;
        height: 40px;
        line-height: 40px;
        text-align: center;
    }
    .header-nav .menu li .current {
        color: #FFFFFF;
        background: #4398ed;
        padding: 0 10px;
    }
    .wp{display:block;float:left;width: auto;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 17px;
        color: black;margin-top:15px;margin-left: 45px;}
    /*header-web-header-main-weibo */
    .weibo {
        float: left;
        margin-left: 45px;
        margin-top: 26px;
    }
    /*main*/
    #main {
        width: 1250px;
        height: auto;
        background: #FFF;
        margin: 0px auto;
        padding: 30px 0px;
        border: 3px solid #dadbd8;
        box-shadow: 20px 20px 30px rgba(101, 103, 89, 0.2);
    }
    #main3 {
        width: 1250px;
        height: auto;
        margin: 0px auto;
        padding: 30px 0px;
    }
    #main4 {
        width: 885px;
        height: auto;
        margin: 0px auto;
        padding: 50px 20px;
        background: #FFF;
        margin-bottom:40px;
        border: 1px solid #ececec;
    }
    #main5 {
        width: 1117px;
        margin: 0px auto;
        overflow: hidden;
    }
    /*main-container*/
    #container {
        width: 825px;
        float: left;
        margin-left: 30px;
    }
    #container-page {
        width: 885px;
        float: left;
        margin-left: 30px;
        padding:30px 0px;
        background:#fff;
        border: 1px solid #ececec;
    }
    /*mbx*/	
    #mbx {
        width: 825px;
        font-size: 16px;
    }
    #mbx a {
        font-size: 16px;
    }
    /*search*/
    #soutab {
        /*float: right;*/
        margin-right: 30px;
        margin-bottom: 20px;
    }
    .search {
        width: 335px;
        height: 36px;
    }
    .search .text {
        width: 243px;
        height: 28px;
        font-size: 16px;
        padding: 3px 0px;
        float: left;
        text-indent: 15px;
        color: #949494;
        border: 1px solid #ececec;
        border-radius: 3px;
        display: block;
        letter-spacing: 1.5px;
        font-family: "Microsoft Yahei", "冬青黑体简体中文 w3";
    }
    .search .text:focus {
        color: #656565;
    }
    .search .button {
        height: 34px;
        width: 80px;
        margin-left: 10px;
        border: none;
        cursor: pointer;
        display: block;
        float: left;
        color: #fff;
        font-size: 15px;
        background: #d6623d;
        border-radius: 2px;
    }
    .searchtitle {
        height: 50px;
        line-height: 50px;
        background: #f7f7f7;
        margin: 0px 0px 0px -32px;
        border-left: 2px solid #d6623d;
        padding: 0px 55px;
        font-size: 18px;
        font-weight: normal;
        color: #150707;
        display: inline-block;
    }
    /*main-container-list*/
    #container .list {
        width: 825px;
        border-bottom: 3px dotted #d2cba1;
        padding: 30px 0px;
        position: relative;
    }
    .archive-list {
        width: 825px;
        border-bottom: 2px dashed #f2f1f1;
        padding: 30px 0px;
        position: relative;
    }
    .titleimg {
        display: block;
        float: left;
        margin-right: 25px;
        width: 180px;
        height: 110px;
        overflow: hidden;
        background-size: 180px auto;
    }
    .titleimg img {
        width: 180px;
        height: 110px;
        transition: All 0.4s ease-in-out;
    }
    .titleimg img:hover {
        transform: scale(1.3);
        -webkit-transform: scale(1.3);
    }
    .mecc {
        max-width:750px;
        margin-left: 20px;
    }
    .mecc em {
        color: #ff5f1a;
        font-style: normal;
        padding: 0px 3px;
    }
    .mecc .readmore {
        margin-top: 10px;
        float: right;
    }
    .mecc .readmore a{
        color: #999;
    }
    .mecctitle {
        height: 20px;
        line-height: 18px;
    }
    .mecctitle .toparticle{
        background: url(/src/blog/image/zhiding.svg) no-repeat  center;
        background-size: 2rem 2rem;
        padding-left: 2rem;
        margin-right: 2px;
    }
    .mecctitle a {
        font-size: 18px;
        font-weight: bold;
        color: #383838;
        padding-right: 25px;
        background-position: center right;
        right: 0px;
        transition: all 0.5s ease-out;
    }
    .mecctitle a:hover {
        padding-right: 25px;
        background-position: center right;
        right: 0px
    }
    .meccaddress {
        color: #a2a2a2;
        margin-top: 12px;
        font-style: normal;
        display: block;
    }
    .meccaddress a {
        color: #525252;
    }
    .meccaddress a:hover {
        color: #d6623d;
    }
    .meccaddress img {
        width: 20px;
        height: auto;
    }
    .mecc p {
        max-width:750px;
        line-height: 25px;
        margin-top: 6px;
    }
    .up {
        position: absolute;
        top: 31px;
        right: 20px;
        width: 28px;
        height: 25px;
        line-height: 25px;
        border-radius: 20px;
        color: #fff;
        text-align: center;
        /*background: #d6623d;*/
        display: block;
    }
    .up:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        left: 10px;
        top: 21px;
        border: 5px solid;
        /*border-color: #d6623d transparent transparent #d6623d;*/
    }
    .up:hover {
        background: #d6623d;
        color: #fff
    }
    /*列的第一个效果*/
    #container .list:first-child {
        width: auto;
        background: #f7f7f7;
        /*border-bottom: none;*/
        padding: 0px;
        /*margin-left: -30px;*/
        margin-bottom: 15px;
        display: block;
    }
    #container .list:first-child span {
        height: 150px;
        margin-top: 10px;
        padding:  10px;
    }
    /*择属于父元素的第一个子元素的每个 <p> 元素,父字*/
    #container .list:first-child .mecc {
        padding: 2px 25px;
    }
    #container .list:first-child .mecctitle {
        height: 35px;
        line-height: 33px;
        margin-top: 11px;
        overflow: hidden;
    }
    #container .list:first-child .mecctitle a {
        font-size: 25px;
        font-weight: 900;
        color: #d6623d;
        overflow: hidden;
    }
    #container .list:first-child .meccaddress {
        color: #a2a2a2;
        margin-top: 5px;
        font-style: normal;
    }
    #container .list:first-child .mecc p {
        width: 820px;
        padding-bottom: 0px;
        padding-right: 5px;
        margin-top: 5px;
        line-height: 30px;
    }
    #container .list:first-child .up {
        position: static;
        float: left;
        display: block;
        height: 80px;
        border-radius: 0px;
        line-height: 80px;
        width: 100px;
        color: #ec9573;
        font-size: 80px;
        text-align: center;
        background: #f8f8f8;
        transition: All 1s ease-in-out;
        -webkit-transition: All 1s ease-in-out;
        -moz-transition: All 1s ease-in-out;
        -o-transition: All 1s ease-in-out;
    }
    #container .list:first-child .up:before {
        display: none;
    }
    #container .list:first-child .up:hover {
        background: none;
        color: #ec9573;
        transform: rotatey(360deg);
        -webkit-transform: rotatey(360deg);
        -webkit-transition: rotatey(360deg);
        -moz-transition: rotatey(360deg);
        -o-transition: rotatey(360deg);
    }
    /*main-container-pagenavi*/
    .pagenavi {
        margin-top: 25px;
        text-align: center;
        height: 30px;
    }
    .page-numbers {
        border-bottom: 5px solid #ececec;
        padding: 5px 8px 4px;
        margin: 0 5px;
        transition: All 1s ease-in-out;
        -webkit-transition: All 0.3s ease-in-out;
        -moz-transition: All 0.3s ease-in-out;
        -o-transition: All 0.3s ease-in-out;
    }
    .page-numbers:hover, .pagenavi .current {
        color: #f34c02;
        border-bottom: 5px solid #d6623d;
    }
    .navigation {
        display: none;
    }
    /*container-content*/
    .content {
        width: 825px;
        padding: 30px 0px;
        margin:0 auto;
        position: relative;
    }
    /*container-content-contenttitle*/
    .contenttitle {
        height: 80px;
        background: #f7f7f7;
        padding-right: 25px;
        position: relative;
        display: block;/*不用背景就会填充一行，因为块无素没定义宽就会占一行*/
    }
    .count {
        float: left;
        display: block;
        height: 80px;
        line-height: 80px;
        width: 30px;
        color: #ec9573;
        font-size: 80px;
        text-align: center;
        transition: All 1s ease-in-out;
        -webkit-transition: All 1s ease-in-out;
        -moz-transition: All 1s ease-in-out;
        -o-transition: All 1s ease-in-out;
    }
    .count:hover {
        transform: rotatey(360deg);
        -webkit-transform: rotatey(360deg);
        -webkit-transition: rotatey(360deg);
        -moz-transition: rotatey(360deg);
        -o-transition: rotatey(360deg);
    }
    .mscc {
        float: left
    }
    .mscctitle {
        height: 35px;
        line-height: 33px;
        margin-top: 11px;
    }
    .mscctitle a {
        font-size: 25px;
        cursor: pointer;
    }
    .msccaddress {
        color: #a2a2a2;
        margin-top: 5px;
        font-style: normal;
        float: left;
    }
    .msccaddress em {
        color: #d6623d;
        font-style: normal
    }
    .msccaddress a {
        color: #a2a2a2
    }
    .msccaddress img {
        display: none;
    }
    .bshare-custom {
        float: left;
        margin-top: 5px;
        margin-left: 10px;
    }
    /*container-content-content.text*/	
    .content-text {
        margin-top: 12px;
    }
    .content-text p {
        clear: both;
        width: auto;
        padding: 10px 0;
        font-size: 16px;
        line-height: 33px;
        text-indent: 35px;
        color: #555555;
        word-wrap: break-word;
    }
    .content-text p a{
        font-size: 16px;
        color: #555555;
    }
    .content-text p img {
        max-width: 825px;
        background-size: 825px auto;
        display: block;
        margin: 0 auto;
    }
    .content-text p a img {
        max-width: 825px;
        background-size: 825px auto;
        display: block;
        margin: 0 auto
    }
    .content-text h1 {
        height: 50px;
        line-height: 50px;
        background: #f7f7f7;
        /*margin: 7px 0px 7px -32px;*/
        border-left: 2px solid #d6623d;
        padding-left:63px;padding-right:40px;
        font-size: 18px;
        font-weight: bold;
        color: #d6623d;
        display: inline-block;
        width: 100%;
    }
    .content-text h2 {
        height: 50px;
        line-height: 50px;
        background: #f7f7f7;
        margin: 10px 0px 10px -32px;
        border-left: 2px solid #9faa65;
        padding-left:63px;padding-right:40px;
        font-size: 18px;
        font-weight: bold;
        color: #347e02;
        display: inline-block;
    }
    .content-text h3 {
        height: 50px;
        line-height: 50px;
        background: #f7f7f7;
        margin: 10px 0px 10px -32px;
        border-left: 2px solid #3386a4;
        padding-left:63px;padding-right:40px;
        font-size: 18px;
        font-weight: bold;
        color: #3386a4;
        display: inline-block;
    }
    .content-text blockquote {
        background: #f1f1f1;
        padding: 0 1em;
        margin: 1em 0;
        color: #6b7a8c;
        border-left: 4px solid #cfd8e6;
        text-align: left;
    }
    .content-text blockquote p{
        text-indent: 0 !important;
        text-indent: 0 !important;
    }
    .content-text pre {
        background: #3c7934;
        border-radius: 10px;
        margin-bottom: 10px;
        padding: 10px 10px;
        max-width: 800px;
        word-wrap: break-word;
        overflow: visible;
        white-space: pre-wrap;
        color: #FFFFFF;
        margin-left: 5px;
    }
    .content-text pre span {
        color: #FFFFFF;
    }
    /*link*/
    .content-text li{float:left;list-style:none;}
    .content-text li a{font-size:16px;display:block;padding:20px 20px;}
    /*page-head*/
    .pagetitle {
        height: 50px;
        line-height: 50px;
        background: #f7f7f7;
        margin: -30px 0px 0px -32px;
        border-left: 2px solid #d6623d;
        padding: 0px 55px;
        font-size: 18px;
        font-weight: normal;
        color: #150707;
        display: block;
    }
    /*container-content-article-tag*/	
    .article-tag {
        text-indent: 40px;
        height: 20px;
        line-height: 18px;
        margin-left: 30px;
        margin-top: 15px;
    }
    /*container-nav-single*/
    .nav-single {
        width: 100%;
        height: 50px;
        line-height: 50px;
        background: #f7f7f7;overflow:hidden;
    }
    .nav-single a {
        font-size: 16px;
        color: #0d0d0d;
    }
    .nav-single a:hover {
        color: #d6623d
    }
    .nav-single .nav-previous {
        float: left;
        width: 45%;
        margin-left: 5%;
    }
    .nav-single .nav-next {
        float: right;
        width: 45%;
        margin-right: 5%;
        text-align: right;
    }
    /*container-xianguan*/
    .xianguan {
        width: 845px;
        margin-top: 30px;
        overflow: hidden;
    }
    .xianguantitle {
        line-height: 25px;
        font-size: 16px;
        color: #66666;
        font-weight: bold;
    }
    .pic {
        margin-top: 30px;
        margin-left: -20px;
    }
    .pic li {
        float: left;
        width: 191px;
        height: 116px;
        margin-left: 20px;
        overflow: hidden;
        position: relative;
    }
    .pic li img {
        width: 191px;
        height: 116px;
        display: block;
    }
    .pic li .link {
        width: 100%;
        height: 35px;
        text-indent: 20px;
        line-height: 35px;
        background: rgba(0,0,0,0.5);
        position: absolute;
        bottom: 0px;
        right: -191px;
        color: #fff;
        transition: all .4s ease-out;
    }
    .pic li:hover .link {
        right: 0px;
        bottom: 0px;
    }
    /*comments-coment*/
    .comment {
        width: 100%;
        border-radius: 8px;
        padding: 5px 0px;
        overflow: hidden;
    }
    .comment .title {
        width: 100%;
        font-size: 16px;
        color: #949494;
        text-indent: 40px;
    }
    #comment {
        width: 745px;
        margin: 0 auto;
        margin-top: -30px;
        margin-bottom: 30px;
    }
    #comment li {
        width: 100%;
        padding: 30px 0px;
        border-bottom: 1px solid #ececec;
        overflow: hidden;
    }
    #comment li span {
        display: block;
        float: left;
        margin-right: 20px;
    }
    #comment li span img {
        height: 45px;
        width: 45px;
        border-radius: 50px;
        transition: all 0.4s linear;
    }
    #comment li span img:hover {
        transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
    #comment li .mhcc {
        width: 680px;
        ;
        float: left;
    }
    #comment li .mhcc address {
        height: 18px;
        line-height: 16px;
        color: #a2a2a2;
        font-style: normal;
    }
    #comment li .mhcc address a {
    }
    #comment li .mhcc p {
        clear: both;
        width: auto;
        padding: 5px 0;
        line-height: 30px;
        font-size: 16px;
    }
    /*comments-coment-commentform*/
    #respond {
        margin-top: 30px;
        width: 100%
    }
    #respond p {
        margin-left: 40px;
    }
    #respond p a {
        color: #f34c02;
    }
    #commentform {
        margin-top: 30px;
        width: 100%;
    }
    #commentform .inputt {
        width: 349px;
        padding: 12px 0px;
        text-indent: 15px;
        border: 1px solid #ececec;
        border-radius: 3px;
        font-size: 16px;
        color: #949494;
        display: inline-block;
        margin-left: 40px;
        font-family: "Microsoft Yahei", "冬青黑体简体中文 w3";
    }
    #commentform textarea {
        width: 720px;
        padding: 14px;
        margin: 0 auto;
        margin-top: 30px;
        border: 1px solid #ececec;
        border-radius: 3px;
        font-size: 16px;
        color: #949494;
        display: block;
        font-family: "Microsoft Yahei", "冬青黑体简体中文 w3";
    }
    .cancel-comment-reply {
        display: none;
    }
    #commentform #submit {
        float: right;
        width: 120px;
        height: 40px;
        line-height: 15px;
        border-radius: 3px;
        border: none;
        font-weight: bold;
        color: #fff;
        text-align: center;
        background: #e54e1e;
        cursor: pointer;
        margin-top: 30px;
        margin-right: 40px;
        font-family: "Microsoft Yahei", "冬青黑体简体中文 w3";
    }
    /*sitebar*/
    #sitebar {
        width: 335px;
        margin-right: 30px;
        float: right;
    }
    .erweima {
        margin-bottom:30px;	
    }
    .sitebar_list {
        width: 100%;
        margin-bottom: 30px;
        overflow: hidden;
    }
    .sitebar_list img{
        display:block;
        max-width: 300px;
    }
    .sitebar_list p{
        font-size: 16px;
        line-height: 30px;
        margin-left: 10px;
    }
    .sitebar_title {
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        color: #66666;
        font-weight: bold;
        text-indent: 5px;
    }
    /*sitebar-tag*/
    .sitebar_list .wptag{margin-top:-20px;}
    .sitebar_list .tagtitle {
        font-size: 14px;
        font-weight: normal;
        width: 70px;
        background: #9faa65;
        color: #fff;
        display: block;
        margin-top: 20px;
        padding: 2px 6px;
    }
    .tagg {
        width: 100%;
        overflow: hidden;
    }
    .tagg .menu {
        width: 341px;
        float: left;
        margin-top: 10px;
        margin-left: -8px;
        margin-bottom: -8px;
    }
    .tagg .menu li {
        float: left;
        width: auto;
        margin: 8px 8px;
    }
    .tagg .menu li a {
        display: block;
        height: 32px;
        line-height: 32px;
        padding: 0 21px;
        border-radius: 3px;
        transition: background 0.2s;
        font-size: 14px;
        color: #282828;
        border: 1px solid #ececec;
    }
    .tagg .menu li a:hover {
        border: 1px solid #fff;
        background: #d6623d;
        color: #fff;
    }
    /*sitebar-文章列表*/
    .sitebar_list_ul {
        width: 305px;
        margin-left: 30px;
        list-style-type: decimal-leading-zero;
    }
    .sitebar_list_ul li {
        width: 100%;
        border-bottom: 1px dashed #ececec;
    }
    .sitebar_list_ul li a {
        display: block;
        width: 100%;
        height: 50px;
        line-height: 50px;
    }

    #sitebar-page {
        width: 200px;
        float: left;
        background: #fff;
        border-radius: 5px;
    }
    #menu {
    }
    #menu ul {
        width: 200px;
        margin-top: 10px;
    }
    #menu li {
        width: 100%;
        margin-bottom: 10px;
    }
    #menu li a {
        width: 100%;
        height: 50px;
        line-height: 53px;
        display: block;
        text-align: center;
        font-size: 16px;

    }
    #menu ul li a:hover {
        color: #d6623d
    }
    .navon {
        background:#d6623d;
        width: 100%;
        height: 50px;
        line-height: 53px;
        overflow: hidden;
        color: #fff;
        text-align: center;
    }
    .navon a {
        color: #fff;
    }
    /*dibu*/
    #dibu {
        height: auto;
        width: 100%;
    }
    #dibu3 {
        height: auto;
        width: 100%;
        background: #fff;
        border-top: 1px solid #ececec;
    }
    .about {
        width: 1250px;
        margin: 0 auto;
        padding: 35px 0px;
        overflow: hidden;
    }
    .about-page {
        width: 1117px;
        margin: 0 auto;
        padding: 35px 0px;
        overflow: hidden;
    }
    .right {
        float: right;
        margin-right: 30px;
    }
    .right .menu {
        overflow: hidden;
    }
    .right .menu li {
        float: left;
        margin-left: 25px;
    }
    .right .menu li a {
        display: block;
        width: 55px;
        height: 17px;
        line-height: 17px;
        text-align: left;
    }
    .right .banquan {
        margin-top: 18px;
        margin-left: 25px;
    }
    .left {
        float: right;
        margin-top: 11px;
    }
    .left .bottomlist {
    }
    .left .bottomlist li {
        float: right;
        margin-right: 25px;
    }
    .bottom {
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background: #FFFFFF;
    }
    .bottom .tongji {
        display: none
    }
    /*弹出二维码*/
    .cd-popup-trigger {
    }
    .cd-popup {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(231, 231, 231, 0.5);
        visibility: hidden;
        -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
        -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
        transition: opacity 0.3s 0s, visibility 0s 0.3s;
    }
    .is-visible {
        opacity: 1;
        visibility: visible;
        -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
        -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
        transition: opacity 0.3s 0s, visibility 0s 0s;
    }
    .cd-popup-container {
        position: relative;
        width: 440px;
        margin: 80px auto;
        padding: 30px 0px;
        background: #FFF;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        -webkit-transform: translateY(-40px);
        -moz-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
        -o-transform: translateY(-40px);
        transform: translateY(-40px);
        /* Force Hardware Acceleration in WebKit */
        -webkit-backface-visibility: hidden;
        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }
    .cd-popup-container h1 {
        width: 380px;
        height: 50px;
        margin: 0 auto;
        line-height: 40px;
        font-weight: normal;
        font-size: 24px;
        text-align: center;
    }
    .cd-popup-container img {
        width: 380px;
        margin: 0 auto;
        display: block
    }
    .cd-popup-container .cd-popup-close {
        position: absolute;
        top: 0px;
        right: -40px;
        width: 40px;
        height: 40px;
        background: #2f1710;
        opacity: 0.5;
    }
    .cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
        content: '';
        position: absolute;
        top: 17px;
        width: 25px;
        height: 3px;
        background-color: #fff;
    }
    .cd-popup-container .cd-popup-close::before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        left: 8px;
    }
    .cd-popup-container .cd-popup-close::after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        right: 8px;
    }
    .is-visible .cd-popup-container {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    /*wp-tag-cloud*/
    .wp-tag-cloud {
        width: 1265px;
        float: left;
        margin-left: -15px;
        margin-top:-15px;


    }
    .wp-tag-cloud li {
        float: left;
        width: auto;
        margin: 15px 15px;
    }
    .wp-tag-cloud li a {
        display: block;
        height: 32px;
        line-height: 32px;
        padding: 0 18px;
        border-radius: 1px;
        border: 1px solid #fff;
        transition: background 0.2s;
        color: #fff;
        background: #d6623d;
    }
    .wp-tag-cloud li a:hover {
        background: #fff;
        border: 1px dashed #d6623d;
        color: #d6623d;
    }
    /*container-content-juanz*/
    .juanz {
        width: 2px;
        height: 3550px;
        background: #b5b5b5;
        margin: 30px auto;

    }
    .juanz ul{background:red;}
    .juanz li {
        width: 300px;
        margin-bottom: 50px;
        font-size: 16px;
        color: #6f8303;
        height: 34px;
        line-height: 34px;
    }
    .juanz li b {
        background: #419702;
        color: #fff;
        font-size: 14px;
        width: 34px;
        height: 34px;
        border-radius: 50px;
        display: inline-block;
        text-align: center;
    }
    .juanz .left {
        text-align: right;
        margin-left: -283px;
    }
    .juanz .right {
        margin-left: -17px;
    }
    /*hot article*/
    .hot-list{width: 785px;
              border-top: 2px dashed #f2f1f1;
              padding: 30px 0px;
              margin-left:20px;
              position: relative;overflow:hidden;}
    .hottitle {
        height: 80px;
        line-height: 65px;
        margin: -30px 0px 0px 0px;
        text-align:center;
        display: block;
        font-size: 30px;
        color: #d6623d;
    }
    .hotmecc {
        width:825px;
        float: left;
    }
    .hotmecc p {
        width:785px;
        line-height: 30px;
        margin-top: 6px;
    }
    .mulu{display:block;background:#d6623d;padding:1px 2px;float:left;border-radius:2px;margin-right:10px;}
    .mulu a{color:#fff;font-size:13px;}
    /*404*/
    .fourjpg {
        width: 1250px;
        height: 440px;
        margin-top: 40px;
    }
    .wrong {
        color: #282828;
        font-size: 30px;
        float: left;
        margin-top: 320px;
        margin-left: 350px;
    }/*如果不漂起来,会把图片顶下去的*/
    .four-buttom {
        display: block;
        height: 30px;
        line-height: 30px;
        font-size: 16px;
        color: #fff;
        margin-top: 325px;
        padding: 0px 10px;
        float: left;
        margin-left: 20px;
        background: #d6623d;
    }
    .four-buttom:hover {
        color: #fff;
    }
    /*yzipiwp*/
    #yzipiwp-container {
        width: 1280px;
        float: left;
        margin-left: -30px;

    }
    .yzipiwp-list {
        width: 346px;
        float: left;
        margin-left: 30px;
        overflow: hidden;padding:24px;background:#fff;border:1px solid #ececec;
    }
    .yzipiwp-titleimg {
        display: block;
        width: 346px;
        height: 328px;
    }
    .yzipiwp-titleimg img {
        width: 346px;
        height: 328px;
        display: block;
    }
    .yzipiwp-mecc {
        width: 346px;
        margin-top:25px;
    }
    .yzipiwp-mecctitle {
        width:100%;
        height: 30px;
        line-height: 28px;
    }
    .yzipiwp-mecctitle a {
        font-size: 18px;
        font-weight: bold;
        color: #383838;
    }
    .yzipiwp-mecctitle a:hover {
        /*color: #d6623d;*/
    }
    .yzipiwp-meccaddress {
        color: #a2a2a2;
        margin-top: 15px;
        font-style: normal;
        display: block;
        color:black;
    }
    .yzipiwp-meccaddress time{margin-right:20px;}
    .vision{font-size:15px;font-weight:bold;color:#d6623d;font-style: normal;margin-right:20px;}
    /*theme*/	
    #theme {
        width: 100%;
        height: 572px;
        border-top: 1px solid #ececec;
    }
    #theme .theme-jpg {
        width: 1117px;
        margin: 0 auto;
        height: 572px;
    }
    #theme .theme-jpg .theme-buttom {
        margin-top: 385px;
        float: left;
        margin-left: 0px;
    }/*产生合并*/
    #theme .theme-jpg .theme-buttom li {
        margin-right: 15px;
        margin-left:15px;
        float: left
    }
    #theme .theme-jpg .theme-buttom li a {
        display: block;
        height: 40px;
        line-height: 40px;
        padding: 0 35px;
        border-radius: 3px;
        font-size: 18px;
        background: #d6623d;
        color: #fff;
    }
    /*theme*/	
    #theme2 {
        width: 100%;
        height: 590px;
        margin-bottom:30px;
    }
    #theme2 .theme-jpg {
        width: 1117px;
        margin: 0 auto;
        height: 590px;
    }
    #theme2 .theme-jpg .theme-buttom {
        margin-top: 380px;
        float: left;
        margin-left: 15px;
    }/*产生合并*/
    #theme2 .theme-jpg .theme-buttom li {
        margin-right: 15px;
        margin-left:15px;
        float: left
    }
    #theme2 .theme-jpg .theme-buttom li a {
        display: block;
        height: 40px;
        line-height: 40px;
        padding: 0 35px;
        border-radius: 3px;
        font-size: 18px;
        background: #d6623d;
        color: #fff;
    }
}
.button_to_top{
    text-align: center;
    margin-top: 25px;
}
.button_to_top button{
    padding: 10px;
    background: #4398ed;
    border: 0;
    color: #fff;
    width: 30%;
    line-height: 2rem;
    font-size: 16px;
    letter-spacing: 5px;
    cursor: pointer;
}

@media only screen and (min-width: 1200px) {
    .button_to_top{
        display: none;
    }
}
/*分页效果*/
.pageshow{padding:20px;background-color:#fff;text-align:center}
.pageshow .pagination{display:inline-block;*display:inline;*zoom:1;margin-left:0;margin-bottom:0}
.pageshow .pagination > li{margin: 0 2px; list-style:none; float:left; -webkit-transition: all .5s linear .2s; transition: all .2s linear .2s;}
.pageshow .pagination > li a{color: #000;display: block; padding: 2px 20px; line-height: 30px; text-align: center; margin: 0 auto;}
.pageshow .pagination > li,.pageshow .pagination > span{float:left;line-height:20px;text-decoration:none;background-color:#eee;color:#666}
.pageshow .pagination > li a:hover,.pageshow .pagination > a:focus{background-color:#ccc;color:#444}
.pageshow .pagination > li.active{background-color:#FFFFFF;}
.pageshow .pagination > li.active > a,.pageshow .pagination > .active > span{color:#000}
.pageshow .pagination > li.active > a,.pageshow .pagination > .active > span{cursor:default;font-size: 14px;}
.pageshow .pagination > li span,.pageshow .pagination > .disabled > span,.pageshow .pagination .disabled > a,.pageshow .pagination .disabled > a:hover,.pageshow .pagination .disabled > a:focus{line-height: 30px; padding: 2px 20px; color:#999999;background-color:transparent;cursor:default}