html {
    -webkit-text-size-adjust: none;
}
* {
    margin: 0;
    padding: 0;
}
a {
    color: #428bca;
    text-decoration: none;
}
@media (max-width: 768px) {
    #content {
        margin-top: 142px;
    }
} #content {
    margin-top: 92px;
    margin-bottom: 24px;
    min-height: 400px;
}
.container, .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.title {
    margin: 92px 0 0;
    font-size: 9.2em;
    text-align: center;
    color: #333;
}
.sorry {
    margin: 0;
    font-size: 1.15em;
    text-align: center;
    color: #333;
}
.return {
    margin: 60px 0 0;
    text-align: center;
    color: #B8B8B8;
}
.return span {
    font-weight: 700;
    padding: 0 10px;
}
.return span a {
    color: #008CD6;
}
