/* Just for the example. Fee free to delete these three lines */
.pikachoose {
    /*width: 750px;*/
    position: relative;
}

/* Style the thumbnails */
.pika-thumbs {
    padding: 0 16px;
    height: 75px;
}

.pika-thumbs li {
    width: 144px;
    height: 74px;
    margin: 10px 0 0 17px;
    padding: 0;
    overflow: hidden;
    float: left;
    list-style-type: none;
    padding: 3px;
    margin: 0 5px;
    background: #fafafa;
    border: 1px solid #e5e5e5;
    cursor: pointer;
}

.pika-thumbs li .clip {
    position: relative;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.pika-thumbs li .clip img {
    height: 100%;
}
.showthispika{
    display: none;
}
/* The stage is the wrapper. The image fills 100% the height of the stage */
.pika-stage, .pika-textnav {
    /*width: 500px;*/
}
.pikaloadimg{
    background: url(/src/blog/image/loading.gif) no-repeat top;
    height: 100px;
    text-align: center;
    margin: 0;
    padding: 0;
    top: 10px;
}
.pika-stage {
    position: relative;
    background: #fafafa;
    border: 1px solid #e5e5e5;
    text-align: center;
    height: 300px !important;
    width: 100%;
}

.pika-stage img {
    width: 100%;
    height: 100%;
}

.pika-stage .caption {
    position: absolute;
    border: 0;
    font-size: 15px;
    color: #f7f7f7;
    padding: 10px;
    text-align: right;
    bottom: 30px;
    left: 10px;
    background: #070908;
    border-radius: 2px;
    cursor: pointer;
}

.pika-stage .caption p {
    padding: 0;
    margin: 0;
    line-height: 14px;
}

/* Ths play, pause, prev and next buttons */
.pika-imgnav a {
    position: absolute;
    text-indent: -5000px;
    display: block;
    z-index: 3;
}

.pika-imgnav a.previous {
    height: 100%;
    width: 50px;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.pika-imgnav a.next {
    height: 100%;
    width: 50px;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.pika-imgnav a.play {
    height: 100px;
    width: 44px;
    top: 0;
    left: 50%;
    display: none;
    cursor: pointer;
}

.pika-imgnav a.pause {
    height: 100px;
    width: 44px;
    top: 0;
    left: 50%;
    display: none;
    cursor: pointer;
}

/* The previous and next textual buttons */
.pika-textnav {
    overflow: hidden;
    margin: 10px 0 0 0;
    bottom: 10px;
    position: absolute;
    display: none;
}

.pika-textnav a {
    font-size: 12px;
    text-decoration: none;
    color: #333;
    padding: 4px;
}

.pika-textnav a.previous {
    float: left;
    width: auto;
    display: block;
}

.pika-textnav a.next {
    float: right;
    width: auto;
    display: block;
}

/*for the tool tips*/
.pika-tooltip {
    font-size: 12px;
    position: absolute;
    color: white;
    padding: 3px;
    background-color: rgba(0,0,0,0.7);
    border: 3px solid black;
}

.pika-counter {
    position: absolute;
    bottom: 1%;
    color: white;
    background: rgba(0,0,0,0.7);
    font-size: 11px;
    padding: 3px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* If using user thumbnails there's a pause well the new large image loads. This is the loader for that */		
.pika-loader{ 
    background-color:rgba(0,0,0,0.9); 
    color:white; width:60px;
    font-size:11px; 
    padding:5px 3px; 
    text-align:right; 
    position:absolute;
    top:15px; 
    right:15px; 
}

/*if you just want to adjust the size of the stage and the thumbnails, you can do so by editing the following lines: */
.pika-thumbs li{
    width: 90px; 
    height:55px;
}
.pikachoose{
    position: relative;
    border: 1px #eee solid;
}
#pikame{width: 150px;}
.pika-thumbs {margin: 10px 0 0 17px; width:250px;position: absolute;top: 10px;right: 30px;}
.pika-thumbs li { margin: 5px 5px;}

/* jCarousel Styles */
/*if you're not using the carousel you can delete everything below this */
.jcarousel-skin-pika {
    position: absolute;
    top: 5px;
    right: 0;
    height: 275px;
    overflow: hidden;
    padding-bottom: 10px;
}

.jcarousel-skin-pika .jcarousel-container-vertical {
    width: 125px;
}

.jcarousel-skin-pika .jcarousel-clip-vertical {
    width: 125px;
    height: 230px;
}

.jcarousel-skin-pika .jcarousel-item-vertical {
    margin-top: 10px;
}
@media only screen and (max-width:500px) {
    .jcarousel-skin-pika .jcarousel-container-vertical {
        display: none !important;
    }
    .pika-stage {
        position: relative;
        background: #fafafa;
        border: 1px solid #e5e5e5;
        text-align: center;
        height: 250px !important;
        width: 100%;
    }
}